<h2>Our recipes</h2>

<div class="container">
    <div class="row">
        <div 
            *ngFor="let recipe of recipes" 

            class="card col-3" 
            style="width: 18rem;">
            
            <img class="card-img-top" src='{{recipe.imageUrl}}' alt="Card image cap">

            <div class="card-body">
                <h4 class="card-title">{{recipe.name}}</h4>
            
                <p class="card-text">{{recipe.description}}</p>
                <hr>

                <p class="card-text"><b>Ingredients: </b></p>
                <p class="ingredientsTag" *ngFor="let ingredient of recipe.ingredients"
                >
                    -{{ingredient}}
                </p>

                <div class="btnDiv">
                    <button type="button" class="btn btn-danger btn-sm"  (click)="editRecipeById(recipe.id)">Edit</button>
                    <button type="button" class="btn btn-dark btn-sm" (click)="deleteRecipeById(recipe.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
