h2 {
    color: #09394d;
    text-align: center;
    margin: 30px auto;
    font-weight: bold; 
}

.card {
    margin: 15px;
    box-shadow: 4px 4px 10px #454647;
    padding: 10px;
}

.card-body {
    border: 1px solid #6882ad;
    border-radius: 2px;
    background: #1f43a88a;
    color:#47253e;
}

h4 {
    font-weight: bold;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ingredientsTag {
    margin: 0 0 6px;
}

